<form name="addBookForm" ng-submit="addBook()" novalidate>
    <div>
        <label>Title</label>
        <input name="title" type="text" ng-model="newBook.title" required ng-minlength="4">
        <span ng-show="addBookForm.$dirty && addBookForm.title.$error.required">Title is required</span>
        <span ng-show="addBookForm.title.$error.minlength">Title should be at least 4 chars</span>
    </div>
    <div>
        <label>Author</label>
        <input name="author" type="text" ng-model="newBook.author" required>
        <span ng-show="addBookForm.$dirty && addBookForm.author.$error.required">Author is required</span>
    </div>
    <div>
        <label>Price</label>
        <input name="price" type="text" ng-model="newBook.price" required>
        <span ng-show="addBookForm.$dirty && addBookForm.price.$error.required">Price is required</span>
    </div>
    <div>
        <label>Rating</label>
        <select ng-model="newBook.rating" name="rating" required>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <span ng-show="addBookForm.$dirty && addBookForm.rating.$error.required">Rating is required</span>
    </div>
    <div>
        <button type="submit" ng-disabled="addBookForm.$invalid">Add new book</button>
    </div>
</form>
