        
        
        <div>
        	<label>Show:</label>
        	<button 
        	ng-class="{active:booksToShow==3}" 
        	ng-click="booksToShow=3">
        	3
        	</button>
        	<button 
        	ng-click="booksToShow=100"
        	ng-class="{active:booksToShow==100}">
        	All
        	</button>
        </div>
        <div>
        	<label>Sort by:</label>
        	<button 
        	ng-class="{active:sortBy=='title'}" 
        	ng-click="sortBy='title'">
        	Title
        	</button>
        	<button 
        	ng-class="{active:sortBy=='price'}" 
        	ng-click="sortBy='price'">
        	Price (Low to high)
        	</button>
        	<button 
        	ng-class="{active:sortBy=='-price'}" 
        	ng-click="sortBy='-price'">
        	Price (high to low)
        	</button>
        </div>
        <div class="grid">
            <div 
            ng-repeat="book in books | limitTo:booksToShow | orderBy:sortBy" 
            ng-class="{high: book.rating > 3, low: book.rating <= 3}">
                <div><b>{{book.title | lowercase | limitTo:30}}</b></div>
                <div><i>{{book.author}}</i></div>
                <div>{{book.price | currency:'&#8377;'}}</div>
                <div>{{book.rating}}</div>
                <button ng-click="rateUp(book)">&uarr;</button>
                <button ng-click="rateDown(book)">&darr;</button>
                <br/><a ng-click="addToCart(book)">add to cart</a>
            </div>