<div>
    <h3>Add a book</h3>
    <form name="addBookForm" ng-submit="addBook()">
        <div>
            <label>Title</label>
            <input name="title" type="text" ng-model="newBook.title" required ng-minlength="4" />
            <span class="error" ng-show="addBookForm.$dirty && addBookForm.title.$error.required">
                        Required.
                    </span>
            <span class="error" ng-show="addBookForm.$dirty && addBookForm.title.$error.minlength">
                        Minimum 4 characters.
                    </span>
        </div>
        <div>
            <label>Author</label>
            <input name="author" type="text" ng-model="newBook.author" required/>
            <span class="error" ng-show="addBookForm.$dirty && addBookForm.author.$error.required">
                        Required.
                    </span>
        </div>
        <div>
            <label>Price</label>
            <input name="price" type="text" ng-model="newBook.price" required/>
            <span class="error" ng-show="addBookForm.$dirty && addBookForm.price.$error.required">
                        Required.
                    </span>
        </div>
        <div>
            <label>Rating</label>
            <select name="rating" ng-model="newBook.rating" required>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
            <span class="error" ng-show="addBookForm.$dirty && addBookForm.rating.$error.required">
                        Required.
                    </span>
        </div>
        <div>
            <button type="submit" ng-disabled="addBookForm.$invalid">Add</button>
        </div>
    </form>
</div>