    <!-- Form -->
    <h1>Add book to catalogue</h1>
    <form ng-submit="addToCatalogue()">
        <div>
            <label>Title:</label>
            <input type="text" ng-model="newBook.title">
        </div>
        <div>
            <label>Author:</label>
            <input type="text" ng-model="newBook.author">
        </div>
        <div>
            <label>Price:</label>
            <input type="text" ng-model="newBook.price">
        </div>
        <div>
            <label>Rating:</label>
            <input type="text" ng-model="newBook.rating">
        </div>
        <div>
            <button type="submit">Add to catalogue</button>
            <button ng-click="newBook = {}">Reset</button>
        </div>
    </form>
    <!-- Form end -->