<!-- Cart -->
<div class="cart">
    <h1>Cart</h1>
    <span ng-show="cart.items.length == 0">
                Cart is empty
            </span>
    <table ng-show="cart.items.length != 0">
        <tr ng-repeat="item in cart.items" ng-show="item.quantity > 0">
            <td>{{item.name | limitTo:15}}</td>
            <td>{{item.price | currency:'&#8377;'}}</td>
            <td>{{item.quantity}}</td>
            <td>
                <button ng-click="increaseQty(item)">+</button>
                <button ng-click="decreaseQty(item)">-</button>
            </td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td><b>{{cart.totalPrice | currency:'&#8377;'}}</b></td>
            <td colspan="2"><button ng-click="placeOrder()">Place Order</button></td>
        </tr>
        <tr>
            <td colspan="4">
                cart last updated at {{cart.lastUpdated | date:'dd-MMM-yyyy hh:mm:s'}}
            </td>
        </tr>
    </table>
</div>
