<h1>My Orders</h1>
<div ng-repeat="order in orders">
    <span ng-show="order.items.length == 0">
                Cart is empty
            </span>
    <table ng-show="order.items.length != 0">
        <tr ng-repeat="item in order.items" ng-show="item.quantity > 0">
            <td>{{item.name | limitTo:15}}</td>
            <td>{{item.price | currency:'&#8377;'}}</td>
            <td>{{item.quantity}}</td>
        </tr>
        <tr>
            <td><b>Total</b></td>
            <td colspan="2"><b>{{order.totalPrice | currency:'&#8377;'}}</b></td>
        </tr>
    </table>
    <hr/>
</div>
