<!DOCTYPE html>
<html ng-app="booksCart">

<head>
    <title>Angular Training</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="bookCtrl.js"></script>
    <script src="bookService.js"></script>
    <script src="cartService.js"></script>
</head>

<body>
    <h1>Angular Training</h1>
    <div ng-controller="bookCtrl">
        <div class="cart">
			<div ng-show="cart.items.length==0">Cart is empty!</div>
        	<table ng-show="cart.items.length!=0">
        		<tr>
        			<td>Item</td>
        			<td>Price</td>
        			<td>Qty</td>
        		</tr>
        		<tr ng-repeat="item in cart.items">
        			<td>{{item.name}}</td>
        			<td>{{item.price}}</td>
        			<td>{{item.qty}}</td>
        		</tr>
        		<tr>
        			<td colspan="2">Total Price</td>
        			<td>{{cart.totalPrice}}</td>
        		</tr>
        		<tr>
        			<td colspan="3">
        				Last updated at {{cart.lastUpdatedAt | date:'dd/MM/yy hh:mm:ss'}}
        			</td>
        		</tr>
        	</table>
        </div>
        <form ng-submit="addBook()">
            <div>
                <label>Title</label>
                <input type="text" ng-model="newBook.title">
            </div>
            <div>
                <label>Author</label>
                <input type="text" ng-model="newBook.author">
            </div>
                        <div>
                <label>Price</label>
                <input type="text" ng-model="newBook.price">
            </div>
                        <div>
                <label>Rating</label>
                <select ng-model="newBook.rating">
                	<option>1</option>
                	<option>2</option>
                	<option>3</option>
                	<option>4</option>
                	<option>5</option>
                </select>
            </div>
            <div>
            	<button type="submit">Add new book</button>
            </div>
        </form>
        <div>
        	<label>Show:</label>
        	<button 
        	ng-class="{active:booksToShow==3}" 
        	ng-click="booksToShow=3">
        	3
        	</button>
        	<button 
        	ng-click="booksToShow=100"
        	ng-class="{active:booksToShow==100}">
        	All
        	</button>
        </div>
        <div>
        	<label>Sort by:</label>
        	<button 
        	ng-class="{active:sortBy=='title'}" 
        	ng-click="sortBy='title'">
        	Title
        	</button>
        	<button 
        	ng-class="{active:sortBy=='price'}" 
        	ng-click="sortBy='price'">
        	Price (Low to high)
        	</button>
        	<button 
        	ng-class="{active:sortBy=='-price'}" 
        	ng-click="sortBy='-price'">
        	Price (high to low)
        	</button>
        </div>
        <div class="grid">
            <div 
            ng-repeat="book in books | limitTo:booksToShow | orderBy:sortBy" 
            ng-class="{high: book.rating > 3, low: book.rating <= 3}">
                <div><b>{{book.title | lowercase | limitTo:30}}</b></div>
                <div><i>{{book.author}}</i></div>
                <div>{{book.price | currency:'&#8377;'}}</div>
                <div>{{book.rating}}</div>
                <button ng-click="rateUp(book)">&uarr;</button>
                <button ng-click="rateDown(book)">&darr;</button>
                <br/><a ng-click="addToCart(book)">add to cart</a>
            </div>
        </div>
    </div>
</body>

</html>
