

        <div>
            <label>Show:</label>
            <button 
                ng-class="{active: booksToShow==3}"
                ng-click="booksToShow=3">
                3
            </button>
            <button 
                ng-class="{active: booksToShow==100}"
                ng-click="booksToShow=100">
                All
            </button>
        </div>
        <div>
            <label>Sort By:</label>
            <button 
                ng-class="{active: sortOrder=='title'}"
                ng-click="sortOrder='title'">
                Title
            </button>
            <button 
                ng-class="{active: sortOrder=='price'}"
                ng-click="sortOrder='price'">
                Price (Low to High)
            </button>
            <button 
                ng-class="{active: sortOrder=='-price'}"
                ng-click="sortOrder='-price'">
                Price (High to Low)
            </button>
        </div>
        <div>
        <label>Filter By:</label>
        <input type="text" ng-model="filterObj.title" placeholder="Title">        
        <input type="text" ng-model="filterObj.author" placeholder="Author">        
        <input type="text" ng-model="filterObj.price" placeholder="Price">
        {{filterObj}}
        </div>
        <div>
        <label>Function filter:</label>
        <button ng-click="filterFun = highRatedBooks">high rated</button>
        <button ng-click="filterFun = cheapBooks">cheap books</button>
        <button ng-click="filterFun = allBooks">all books</button>
        </div>

        <div class="grid">
            <div ng-repeat="book in books | limitTo:booksToShow | orderBy:sortOrder | filter:filterObj | filter:filterFun" ng-class="{high: book.rating > 3, low: book.rating <= 3}">
                <div><b>{{book.title | titlecase:1}}</b></div>
                <div><i>{{book.author}}</i></div>
                <div>{{book.price | currency:'&#8377;'}}</div>
                <div>{{book.rating}} <stars-widget points="book.rating"></stars-widget></div>
                <div>
                	<button ng-click="rateUp(book)">&uarr;</button>
                	<button ng-click="rateDown(book)">&darr;</button>
                </div>
                <a ng-click="addToCart(book)">add to cart</a>
            </div>
        </div>
    