        <form name="addBookForm" ng-submit="addBook()" novalidate>
            <div>
                <label>Title</label>
                <input type="text" name="title" ng-model="newBook.title" required ng-minlength="4">
                <span ng-show="addBookForm.$dirty && addBookForm.title.$error.required">Title is required</span>
                <span ng-show="addBookForm.$dirty && addBookForm.title.$error.minlength">Title has to be more than 4 chars</span>
            </div>
            <div>
                <label>Author</label>
                <input type="text" name="author" ng-model="newBook.author" required>
               <span ng-show="addBookForm.$dirty && addBookForm.author.$error.required">Author is required</span>   
            </div>
            <div>
                <label>Price</label>
                <input type="text" name="price" ng-model="newBook.price" required>
               <span ng-show="addBookForm.$dirty &&addBookForm.price.$error.required">Price is required</span>                
            </div>
            <div>
                <label>Rating</label>
                <select name="rating" ng-model="newBook.rating" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
               <span ng-show="addBookForm.$dirty && addBookForm.rating.$error.required">Rating is required</span>                
            </div>
            <div>
                <button type="submit" ng-disabled="addBookForm.$invalid">Add a book</button>
            </div>
        </form>